.vscode/launch.json
images/22678953_b9a4da5f2dae63a9_MG_R_CC_ANON.dcm
images/24055203_606e9b184978a350_MG_L_CC_ANON.dcm
images/24055654_6f1aef40b3775182_MG_R_CC_ANON.dcm
results 1/0.png
results 1/1.png
results 1/2.png
results 1/3.png
results 1/4.png
results 1/5.png
results 2 - morf_2/0.png
results 2 - morf_2/1.png
results 2 - morf_2/2.png
results 2 - morf_2/3.png
results 2 - morf_2/4.png
results 2 - morf_2/5.png
results 2 - skiz/0.png
results 2 - skiz/1.png
results 2 - skiz/2.png
results 2 - skiz/3.png
results 2 - skiz/4.png
results 2 - skiz/5.png
